/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: 'Arial, sans-serif';
    background-color: #f5f5f5;
}

/* Heading Styles */
h3 {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 20px;
  /* text-align: center; */
}
