FoodOrdering.css
.foodContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    justify-content: start;
    padding: 20px;
}


/* Button Container */
.button-container {
  display: flex;
  justify-content: start;
  gap: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* Button Styles */
button.filter {
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  background-color: #fc8019; /* Swiggy's primary orange color */
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.filter:hover {
  background-color: #e67300; /* Darker shade for hover effect */
}

button.filter:active {
  background-color: #cc6600; /* Even darker shade for active state */
}

button.filter:focus {
  outline: none;
}

/* Clear Button Specific Styles */
button.clear.filter {
  background-color: #ccc;
  color: #333;
}

button.clear.filter:hover {
  background-color: #bbb;
}

button.clear:active {
  background-color: #aaa;
}


.search-bar input {
  padding: 10px 20px;
  border: 1px solid #ddd;
  border-radius: 20px;
  
}
